<form action="/Users/LoginAction" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            UserName: <input class="form-control" name="Username" type="text" />
        </div>
        <div class="form-group">
            Password: <input class="form-control" name="Password" type="text" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" onclick="">Login</button>
        </div>
    </div>
</form>
